@font-face {
    font-family: 'EcuyerDAX';
    src:url('fonts/EcuyerDAX.ttf.woff') format('woff'),
        url('fonts/EcuyerDAX.ttf.svg#EcuyerDAX') format('svg'),
        url('fonts/EcuyerDAX.ttf.eot'),
        url('fonts/EcuyerDAX.ttf.eot?#iefix') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
}
html {
  box-sizing: border-box;
}
/*-------------------- Body --------------------*/

body {
  margin: 0;
  padding: 0;
  background-color: #eaf2dc;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.title-area {
  color: #5e7358;
  text-align: center;
  margin: 20px auto 0;
}

/*-------------------- GAME-AREA --------------------*/
.game-area {
  background: #cfdcc8;
  border: 3px solid #5e7358;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.25);
  box-sizing: border-box;
  color: #5e7358;
  margin: 20px auto 0;
  overflow: hidden;
  padding: 20px 20px 40px;
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); */
}
.spacer {
  margin: 20px 0 0;
}
.spacer-large {
  margin: 40px 0 0;
}
.spacer-small {
  margin: 10px 0 0;
}
.spacer-extra-small {
  margin: 5px 0 0;
}
.spacer-setup-error {
  margin: 15px 0 0;
}

.drop-wrapper { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; grid-column-gap: 2rem; grid-row-gap: 2rem; margin: 0 auto; }
.drop-spot { font-size: 2rem; text-align: center; }
.image-container { overflow: hidden; }
.dice { font-size: 4rem; line-height: 1; width: 95%; text-align: center; margin: 0 auto;}
img.penny { display: block; width: 80%; margin: 0 auto; }
img.dice { display: block; width: 25%; max-width: 150px; margin: 0 auto; }
.drop-line {
  margin: 0 auto 10px;
  border: 0;
  height: 3px;
  width: 80%;
  background: #5e7358;
}

.stack-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin: 0 auto;
}
.stack-spot {
  color: #5e7358;
  text-align: center;
}

.player-name {
  border: 3px solid #5e7358;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 10px 0;
  text-align: center;
}
.player-stack {
  border: 3px solid #5e7358;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  box-sizing: border-box;
  font-size: 2rem;
  padding: 10px 0;
  text-align: center;
}
.active-player {
  background: #5e7358;
  color: #ffffff;
}
.slide-out { transform: translateY(100%); transition: transform 1s; }
.slide-up { transform: translateY(-100%); transition: transform 1s; }
/* .slide-out {  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-top: 50% !important;} */
.roll-button, .pass-button, .first-next-button, .back-button, .next-button, .play-button, .rematch-button, .new-game-button, .resume-button {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
  /* background: #b72e50; MINT PLUM*/
  /* background: #DB5052; */
  /* background: #782224; */
  /* background: #E55B30; */
  /* background: #E95733; */
  background: #D98D62;
  border-radius: 10px;
  /* box-shadow: 0 0 15px 4px rgba(0,0,0,0.25); */
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.25);

  font-size: 24px;
  padding: 15px 0;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.pass-button, .resume-button {
  background: #90a68a;
}

.back-button, .next-button, .play-button {
  font-size: 20px;
}

.back-button {
  background: #808080;
}

.new-game-button {
  background: #5e7358;
}

.setup-button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  margin: 0 auto;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  margin: 0 auto;
}

.setup-error {
  color: #782224;
  font-size: 14px;
  margin-top: 10px;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'EcuyerDAX', 'Helvetica Neue', Roboto, Arial, sans-serif;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal-bg {
  position: absolute;
  margin-top: 101px;
  background: #eaf2dc;
  width: 100%;
  height: 100%;
}

.modal-winner-bg, .modal-settings-bg  {
  position: absolute;
  background: rgba(234,242,220,0.75);
  width: 100%;
  height: 100%;
}

.modal-container {
  background: #cfdcc8;
  border: 3px solid #5e7358;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.25);
  box-sizing: border-box;
  color: #5e7358;
  padding: 30px;
  position: relative;
  text-align: center;
}
.modal-close {
  border: 0px;
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  appearance: none;
  color: red;
  background: none;
  font-weight: bold;
  cursor: pointer;
}

.number-players-container {
  align-items: center;
  display: flex;
  font-size: 4rem;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
.center-col {
/* Lets middle column shrink/grow to available width */
flex: 1 1 auto;
text-align: center;
}

.left-col, .right-col {
  font-size: 3rem;
  /* Forces side columns to stay same width */
  flex: 0 0 50px;
}

.left-col {
text-align: left;
visibility: hidden;
}
.right-col {
text-align: right;
}

.player-names-form-container {
  margin: 0 auto;
  max-width: 390px;

  box-sizing: border-box;
}



input[type=text] {
  border: 1px solid #5e7358;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.25);
  box-sizing: border-box;
  color: #808080;
  font-family:inherit;
  font-size: 28px;
  height: 81px;
  margin: 0 auto;
  padding:20px;
  width: 100%;
}
input[type=text]:focus {
  outline: none;
}
::placeholder {
  color: #d3d3d3;
  font-family:inherit;
  font-size: inherit;
  opacity: 1;
}

.ion-arrows {
   vertical-align: middle;
   font-size: 2rem;
}

.ion-rematch {
   vertical-align: top;
   font-size: 1.5rem;
}

.ion-win-close {
  font-size: 2rem;
  position: absolute;
  right: 15px;
  top: 15px;

}

.settings {
  color: #5e7358;
  font-size: 2rem;
  margin: 20px auto;
  text-align: center;
}

.win-stats {
  border: 3px solid #5e7358;
  border-radius: 10px;
  box-sizing: border-box;
}

.winner {
  font-size: 4rem !important;
}

.win-stats h2 {
  border-bottom: 3px solid #5e7358;
  padding: 10px 0;
  margin: 0
}

.win-stats  {
  margin-left: 10px;
}

.win-distribution-container {
  padding: 0 10px;
}

.win-stats table {
    border: 1px solid #5e7358;
    border-collapse: separate;
    border-left: 0;
    border-radius: 4px;
    border-spacing: 0px;
    width: 100%;
}
.win-stats thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
}
.win-stats tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.win-stats th, .win-stats td {
  border-left: 1px solid #5e7358;
  font-size: 0.9rem;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  width: 16.667%;
}
.win-stats td {
    border-top: 1px solid #5e7358;
}
.win-stats th {
  background: #5e7358;
  color: #cfdcc8;
}
.win-stats thead:first-child tr:first-child th:first-child, .win-stats tbody:first-child tr:first-child td:first-child {
    border-radius: 4px 0 0 0;
}
.win-stats thead:last-child tr:last-child th:first-child, .win-stats tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}



@media screen and (max-width: 600px) {
  .title-area h1 {
    font-size: 2rem;
  }

  .wrapper {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .game-area {
    width: 95%;
  }
  .drop-wrapper {
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    margin: 0 auto;
  }
  .stack-wrapper {
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    margin: 0 auto;

  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .small-name-font {
    font-size: 1rem !important;
  }

  .tiny-name-font {
    font-size: 0.8rem !important;
  }

  .micro-name-font {
    font-size: 0.6rem !important;
  }

  .small-stack-font {
    font-size: 1.5rem !important;
  }

  .modal-container {
    width: 95%;
  }


}
@media screen and (min-width: 601px) {
  .title-area h1 {
    font-size: 3rem;
  }

  .game-area {
    max-width: 800px;
    width: 85%;
  }

  .modal {
    display: block;
  }

  .modal-container {
    margin: 101px auto 0;
    max-width: 400px;
    width: 50%;
  }
}
